<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mywork.dao.CpbMapper">
  <resultMap id="BaseResultMap" type="com.mywork.domain.Cpb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="qh" jdbcType="VARCHAR" property="qh" />
    <result column="wws" jdbcType="INTEGER" property="wws" />
    <result column="qws" jdbcType="INTEGER" property="qws" />
    <result column="bws" jdbcType="INTEGER" property="bws" />
    <result column="sws" jdbcType="INTEGER" property="sws" />
    <result column="gws" jdbcType="INTEGER" property="gws" />
    <result column="hz" jdbcType="INTEGER" property="hz" />
    <result column="kd" jdbcType="INTEGER" property="kd" />
    <result column="hzwh" jdbcType="INTEGER" property="hzwh" />
    <result column="js" jdbcType="INTEGER" property="js" />
    <result column="os" jdbcType="INTEGER" property="os" />
    <result column="zs" jdbcType="INTEGER" property="zs" />
    <result column="hs" jdbcType="INTEGER" property="hs" />
    <result column="wwds" jdbcType="INTEGER" property="wwds" />
    <result column="qwds" jdbcType="INTEGER" property="qwds" />
    <result column="bwds" jdbcType="INTEGER" property="bwds" />
    <result column="swds" jdbcType="INTEGER" property="swds" />
    <result column="gwds" jdbcType="INTEGER" property="gwds" />
    <result column="wwdx" jdbcType="INTEGER" property="wwdx" />
    <result column="qwdx" jdbcType="INTEGER" property="qwdx" />
    <result column="bwdx" jdbcType="INTEGER" property="bwdx" />
    <result column="swdx" jdbcType="INTEGER" property="swdx" />
    <result column="gwdx" jdbcType="INTEGER" property="gwdx" />
    <result column="wwjo" jdbcType="INTEGER" property="wwjo" />
    <result column="qwjo" jdbcType="INTEGER" property="qwjo" />
    <result column="bwjo" jdbcType="INTEGER" property="bwjo" />
    <result column="swjo" jdbcType="INTEGER" property="swjo" />
    <result column="gwjo" jdbcType="INTEGER" property="gwjo" />
    <result column="ww012l" jdbcType="INTEGER" property="ww012l" />
    <result column="qw012l" jdbcType="INTEGER" property="qw012l" />
    <result column="bw012l" jdbcType="INTEGER" property="bw012l" />
    <result column="sw012l" jdbcType="INTEGER" property="sw012l" />
    <result column="gw012l" jdbcType="INTEGER" property="gw012l" />
    <result column="zhdx" jdbcType="INTEGER" property="zhdx" />
    <result column="zhds" jdbcType="INTEGER" property="zhds" />
    <result column="lh" jdbcType="INTEGER" property="lh" />
    <result column="sj" jdbcType="DATE" property="sj" />
    <result column="qsbz" jdbcType="INTEGER" property="qsbz" />
    <result column="qssz" jdbcType="INTEGER" property="qssz" />
    <result column="qsdz" jdbcType="INTEGER" property="qsdz" />
    <result column="qsbs" jdbcType="INTEGER" property="qsbs" />
    <result column="qszl" jdbcType="INTEGER" property="qszl" />
    <result column="zsbz" jdbcType="INTEGER" property="zsbz" />
    <result column="zssz" jdbcType="INTEGER" property="zssz" />
    <result column="zsdz" jdbcType="INTEGER" property="zsdz" />
    <result column="zsbs" jdbcType="INTEGER" property="zsbs" />
    <result column="zszl" jdbcType="INTEGER" property="zszl" />
    <result column="hsbz" jdbcType="INTEGER" property="hsbz" />
    <result column="hssz" jdbcType="INTEGER" property="hssz" />
    <result column="hsdz" jdbcType="INTEGER" property="hsdz" />
    <result column="hsbs" jdbcType="INTEGER" property="hsbs" />
    <result column="hszl" jdbcType="INTEGER" property="hszl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, qh, wws, qws, bws, sws, gws, hz, kd, hzwh, js, os, zs, hs, wwds, qwds, bwds, 
    swds, gwds, wwdx, qwdx, bwdx, swdx, gwdx, wwjo, qwjo, bwjo, swjo, gwjo, ww012l, qw012l, 
    bw012l, sw012l, gw012l, zhdx, zhds, lh, sj, qsbz, qssz, qsdz, qsbs, qszl, zsbz, zssz, 
    zsdz, zsbs, zszl, hsbz, hssz, hsdz, hsbs, hszl
  </sql>
  <select id="selectByExample" parameterType="com.mywork.domain.CpbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cpb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cpb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cpb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mywork.domain.CpbExample">
    delete from cpb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mywork.domain.Cpb">
    insert into cpb (id, qh, wws, 
      qws, bws, sws, gws, 
      hz, kd, hzwh, js, 
      os, zs, hs, wwds, 
      qwds, bwds, swds, gwds, 
      wwdx, qwdx, bwdx, swdx, 
      gwdx, wwjo, qwjo, bwjo, 
      swjo, gwjo, ww012l, 
      qw012l, bw012l, sw012l, 
      gw012l, zhdx, zhds, 
      lh, sj, qsbz, qssz, 
      qsdz, qsbs, qszl, zsbz, 
      zssz, zsdz, zsbs, zszl, 
      hsbz, hssz, hsdz, hsbs, 
      hszl)
    values (#{id,jdbcType=INTEGER}, #{qh,jdbcType=VARCHAR}, #{wws,jdbcType=INTEGER}, 
      #{qws,jdbcType=INTEGER}, #{bws,jdbcType=INTEGER}, #{sws,jdbcType=INTEGER}, #{gws,jdbcType=INTEGER}, 
      #{hz,jdbcType=INTEGER}, #{kd,jdbcType=INTEGER}, #{hzwh,jdbcType=INTEGER}, #{js,jdbcType=INTEGER}, 
      #{os,jdbcType=INTEGER}, #{zs,jdbcType=INTEGER}, #{hs,jdbcType=INTEGER}, #{wwds,jdbcType=INTEGER}, 
      #{qwds,jdbcType=INTEGER}, #{bwds,jdbcType=INTEGER}, #{swds,jdbcType=INTEGER}, #{gwds,jdbcType=INTEGER}, 
      #{wwdx,jdbcType=INTEGER}, #{qwdx,jdbcType=INTEGER}, #{bwdx,jdbcType=INTEGER}, #{swdx,jdbcType=INTEGER}, 
      #{gwdx,jdbcType=INTEGER}, #{wwjo,jdbcType=INTEGER}, #{qwjo,jdbcType=INTEGER}, #{bwjo,jdbcType=INTEGER}, 
      #{swjo,jdbcType=INTEGER}, #{gwjo,jdbcType=INTEGER}, #{ww012l,jdbcType=INTEGER}, 
      #{qw012l,jdbcType=INTEGER}, #{bw012l,jdbcType=INTEGER}, #{sw012l,jdbcType=INTEGER}, 
      #{gw012l,jdbcType=INTEGER}, #{zhdx,jdbcType=INTEGER}, #{zhds,jdbcType=INTEGER}, 
      #{lh,jdbcType=INTEGER}, #{sj,jdbcType=DATE}, #{qsbz,jdbcType=INTEGER}, #{qssz,jdbcType=INTEGER}, 
      #{qsdz,jdbcType=INTEGER}, #{qsbs,jdbcType=INTEGER}, #{qszl,jdbcType=INTEGER}, #{zsbz,jdbcType=INTEGER}, 
      #{zssz,jdbcType=INTEGER}, #{zsdz,jdbcType=INTEGER}, #{zsbs,jdbcType=INTEGER}, #{zszl,jdbcType=INTEGER}, 
      #{hsbz,jdbcType=INTEGER}, #{hssz,jdbcType=INTEGER}, #{hsdz,jdbcType=INTEGER}, #{hsbs,jdbcType=INTEGER}, 
      #{hszl,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mywork.domain.Cpb">
    insert into cpb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="qh != null">
        qh,
      </if>
      <if test="wws != null">
        wws,
      </if>
      <if test="qws != null">
        qws,
      </if>
      <if test="bws != null">
        bws,
      </if>
      <if test="sws != null">
        sws,
      </if>
      <if test="gws != null">
        gws,
      </if>
      <if test="hz != null">
        hz,
      </if>
      <if test="kd != null">
        kd,
      </if>
      <if test="hzwh != null">
        hzwh,
      </if>
      <if test="js != null">
        js,
      </if>
      <if test="os != null">
        os,
      </if>
      <if test="zs != null">
        zs,
      </if>
      <if test="hs != null">
        hs,
      </if>
      <if test="wwds != null">
        wwds,
      </if>
      <if test="qwds != null">
        qwds,
      </if>
      <if test="bwds != null">
        bwds,
      </if>
      <if test="swds != null">
        swds,
      </if>
      <if test="gwds != null">
        gwds,
      </if>
      <if test="wwdx != null">
        wwdx,
      </if>
      <if test="qwdx != null">
        qwdx,
      </if>
      <if test="bwdx != null">
        bwdx,
      </if>
      <if test="swdx != null">
        swdx,
      </if>
      <if test="gwdx != null">
        gwdx,
      </if>
      <if test="wwjo != null">
        wwjo,
      </if>
      <if test="qwjo != null">
        qwjo,
      </if>
      <if test="bwjo != null">
        bwjo,
      </if>
      <if test="swjo != null">
        swjo,
      </if>
      <if test="gwjo != null">
        gwjo,
      </if>
      <if test="ww012l != null">
        ww012l,
      </if>
      <if test="qw012l != null">
        qw012l,
      </if>
      <if test="bw012l != null">
        bw012l,
      </if>
      <if test="sw012l != null">
        sw012l,
      </if>
      <if test="gw012l != null">
        gw012l,
      </if>
      <if test="zhdx != null">
        zhdx,
      </if>
      <if test="zhds != null">
        zhds,
      </if>
      <if test="lh != null">
        lh,
      </if>
      <if test="sj != null">
        sj,
      </if>
      <if test="qsbz != null">
        qsbz,
      </if>
      <if test="qssz != null">
        qssz,
      </if>
      <if test="qsdz != null">
        qsdz,
      </if>
      <if test="qsbs != null">
        qsbs,
      </if>
      <if test="qszl != null">
        qszl,
      </if>
      <if test="zsbz != null">
        zsbz,
      </if>
      <if test="zssz != null">
        zssz,
      </if>
      <if test="zsdz != null">
        zsdz,
      </if>
      <if test="zsbs != null">
        zsbs,
      </if>
      <if test="zszl != null">
        zszl,
      </if>
      <if test="hsbz != null">
        hsbz,
      </if>
      <if test="hssz != null">
        hssz,
      </if>
      <if test="hsdz != null">
        hsdz,
      </if>
      <if test="hsbs != null">
        hsbs,
      </if>
      <if test="hszl != null">
        hszl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qh != null">
        #{qh,jdbcType=VARCHAR},
      </if>
      <if test="wws != null">
        #{wws,jdbcType=INTEGER},
      </if>
      <if test="qws != null">
        #{qws,jdbcType=INTEGER},
      </if>
      <if test="bws != null">
        #{bws,jdbcType=INTEGER},
      </if>
      <if test="sws != null">
        #{sws,jdbcType=INTEGER},
      </if>
      <if test="gws != null">
        #{gws,jdbcType=INTEGER},
      </if>
      <if test="hz != null">
        #{hz,jdbcType=INTEGER},
      </if>
      <if test="kd != null">
        #{kd,jdbcType=INTEGER},
      </if>
      <if test="hzwh != null">
        #{hzwh,jdbcType=INTEGER},
      </if>
      <if test="js != null">
        #{js,jdbcType=INTEGER},
      </if>
      <if test="os != null">
        #{os,jdbcType=INTEGER},
      </if>
      <if test="zs != null">
        #{zs,jdbcType=INTEGER},
      </if>
      <if test="hs != null">
        #{hs,jdbcType=INTEGER},
      </if>
      <if test="wwds != null">
        #{wwds,jdbcType=INTEGER},
      </if>
      <if test="qwds != null">
        #{qwds,jdbcType=INTEGER},
      </if>
      <if test="bwds != null">
        #{bwds,jdbcType=INTEGER},
      </if>
      <if test="swds != null">
        #{swds,jdbcType=INTEGER},
      </if>
      <if test="gwds != null">
        #{gwds,jdbcType=INTEGER},
      </if>
      <if test="wwdx != null">
        #{wwdx,jdbcType=INTEGER},
      </if>
      <if test="qwdx != null">
        #{qwdx,jdbcType=INTEGER},
      </if>
      <if test="bwdx != null">
        #{bwdx,jdbcType=INTEGER},
      </if>
      <if test="swdx != null">
        #{swdx,jdbcType=INTEGER},
      </if>
      <if test="gwdx != null">
        #{gwdx,jdbcType=INTEGER},
      </if>
      <if test="wwjo != null">
        #{wwjo,jdbcType=INTEGER},
      </if>
      <if test="qwjo != null">
        #{qwjo,jdbcType=INTEGER},
      </if>
      <if test="bwjo != null">
        #{bwjo,jdbcType=INTEGER},
      </if>
      <if test="swjo != null">
        #{swjo,jdbcType=INTEGER},
      </if>
      <if test="gwjo != null">
        #{gwjo,jdbcType=INTEGER},
      </if>
      <if test="ww012l != null">
        #{ww012l,jdbcType=INTEGER},
      </if>
      <if test="qw012l != null">
        #{qw012l,jdbcType=INTEGER},
      </if>
      <if test="bw012l != null">
        #{bw012l,jdbcType=INTEGER},
      </if>
      <if test="sw012l != null">
        #{sw012l,jdbcType=INTEGER},
      </if>
      <if test="gw012l != null">
        #{gw012l,jdbcType=INTEGER},
      </if>
      <if test="zhdx != null">
        #{zhdx,jdbcType=INTEGER},
      </if>
      <if test="zhds != null">
        #{zhds,jdbcType=INTEGER},
      </if>
      <if test="lh != null">
        #{lh,jdbcType=INTEGER},
      </if>
      <if test="sj != null">
        #{sj,jdbcType=DATE},
      </if>
      <if test="qsbz != null">
        #{qsbz,jdbcType=INTEGER},
      </if>
      <if test="qssz != null">
        #{qssz,jdbcType=INTEGER},
      </if>
      <if test="qsdz != null">
        #{qsdz,jdbcType=INTEGER},
      </if>
      <if test="qsbs != null">
        #{qsbs,jdbcType=INTEGER},
      </if>
      <if test="qszl != null">
        #{qszl,jdbcType=INTEGER},
      </if>
      <if test="zsbz != null">
        #{zsbz,jdbcType=INTEGER},
      </if>
      <if test="zssz != null">
        #{zssz,jdbcType=INTEGER},
      </if>
      <if test="zsdz != null">
        #{zsdz,jdbcType=INTEGER},
      </if>
      <if test="zsbs != null">
        #{zsbs,jdbcType=INTEGER},
      </if>
      <if test="zszl != null">
        #{zszl,jdbcType=INTEGER},
      </if>
      <if test="hsbz != null">
        #{hsbz,jdbcType=INTEGER},
      </if>
      <if test="hssz != null">
        #{hssz,jdbcType=INTEGER},
      </if>
      <if test="hsdz != null">
        #{hsdz,jdbcType=INTEGER},
      </if>
      <if test="hsbs != null">
        #{hsbs,jdbcType=INTEGER},
      </if>
      <if test="hszl != null">
        #{hszl,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mywork.domain.CpbExample" resultType="java.lang.Long">
    select count(*) from cpb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cpb
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.qh != null">
        qh = #{record.qh,jdbcType=VARCHAR},
      </if>
      <if test="record.wws != null">
        wws = #{record.wws,jdbcType=INTEGER},
      </if>
      <if test="record.qws != null">
        qws = #{record.qws,jdbcType=INTEGER},
      </if>
      <if test="record.bws != null">
        bws = #{record.bws,jdbcType=INTEGER},
      </if>
      <if test="record.sws != null">
        sws = #{record.sws,jdbcType=INTEGER},
      </if>
      <if test="record.gws != null">
        gws = #{record.gws,jdbcType=INTEGER},
      </if>
      <if test="record.hz != null">
        hz = #{record.hz,jdbcType=INTEGER},
      </if>
      <if test="record.kd != null">
        kd = #{record.kd,jdbcType=INTEGER},
      </if>
      <if test="record.hzwh != null">
        hzwh = #{record.hzwh,jdbcType=INTEGER},
      </if>
      <if test="record.js != null">
        js = #{record.js,jdbcType=INTEGER},
      </if>
      <if test="record.os != null">
        os = #{record.os,jdbcType=INTEGER},
      </if>
      <if test="record.zs != null">
        zs = #{record.zs,jdbcType=INTEGER},
      </if>
      <if test="record.hs != null">
        hs = #{record.hs,jdbcType=INTEGER},
      </if>
      <if test="record.wwds != null">
        wwds = #{record.wwds,jdbcType=INTEGER},
      </if>
      <if test="record.qwds != null">
        qwds = #{record.qwds,jdbcType=INTEGER},
      </if>
      <if test="record.bwds != null">
        bwds = #{record.bwds,jdbcType=INTEGER},
      </if>
      <if test="record.swds != null">
        swds = #{record.swds,jdbcType=INTEGER},
      </if>
      <if test="record.gwds != null">
        gwds = #{record.gwds,jdbcType=INTEGER},
      </if>
      <if test="record.wwdx != null">
        wwdx = #{record.wwdx,jdbcType=INTEGER},
      </if>
      <if test="record.qwdx != null">
        qwdx = #{record.qwdx,jdbcType=INTEGER},
      </if>
      <if test="record.bwdx != null">
        bwdx = #{record.bwdx,jdbcType=INTEGER},
      </if>
      <if test="record.swdx != null">
        swdx = #{record.swdx,jdbcType=INTEGER},
      </if>
      <if test="record.gwdx != null">
        gwdx = #{record.gwdx,jdbcType=INTEGER},
      </if>
      <if test="record.wwjo != null">
        wwjo = #{record.wwjo,jdbcType=INTEGER},
      </if>
      <if test="record.qwjo != null">
        qwjo = #{record.qwjo,jdbcType=INTEGER},
      </if>
      <if test="record.bwjo != null">
        bwjo = #{record.bwjo,jdbcType=INTEGER},
      </if>
      <if test="record.swjo != null">
        swjo = #{record.swjo,jdbcType=INTEGER},
      </if>
      <if test="record.gwjo != null">
        gwjo = #{record.gwjo,jdbcType=INTEGER},
      </if>
      <if test="record.ww012l != null">
        ww012l = #{record.ww012l,jdbcType=INTEGER},
      </if>
      <if test="record.qw012l != null">
        qw012l = #{record.qw012l,jdbcType=INTEGER},
      </if>
      <if test="record.bw012l != null">
        bw012l = #{record.bw012l,jdbcType=INTEGER},
      </if>
      <if test="record.sw012l != null">
        sw012l = #{record.sw012l,jdbcType=INTEGER},
      </if>
      <if test="record.gw012l != null">
        gw012l = #{record.gw012l,jdbcType=INTEGER},
      </if>
      <if test="record.zhdx != null">
        zhdx = #{record.zhdx,jdbcType=INTEGER},
      </if>
      <if test="record.zhds != null">
        zhds = #{record.zhds,jdbcType=INTEGER},
      </if>
      <if test="record.lh != null">
        lh = #{record.lh,jdbcType=INTEGER},
      </if>
      <if test="record.sj != null">
        sj = #{record.sj,jdbcType=DATE},
      </if>
      <if test="record.qsbz != null">
        qsbz = #{record.qsbz,jdbcType=INTEGER},
      </if>
      <if test="record.qssz != null">
        qssz = #{record.qssz,jdbcType=INTEGER},
      </if>
      <if test="record.qsdz != null">
        qsdz = #{record.qsdz,jdbcType=INTEGER},
      </if>
      <if test="record.qsbs != null">
        qsbs = #{record.qsbs,jdbcType=INTEGER},
      </if>
      <if test="record.qszl != null">
        qszl = #{record.qszl,jdbcType=INTEGER},
      </if>
      <if test="record.zsbz != null">
        zsbz = #{record.zsbz,jdbcType=INTEGER},
      </if>
      <if test="record.zssz != null">
        zssz = #{record.zssz,jdbcType=INTEGER},
      </if>
      <if test="record.zsdz != null">
        zsdz = #{record.zsdz,jdbcType=INTEGER},
      </if>
      <if test="record.zsbs != null">
        zsbs = #{record.zsbs,jdbcType=INTEGER},
      </if>
      <if test="record.zszl != null">
        zszl = #{record.zszl,jdbcType=INTEGER},
      </if>
      <if test="record.hsbz != null">
        hsbz = #{record.hsbz,jdbcType=INTEGER},
      </if>
      <if test="record.hssz != null">
        hssz = #{record.hssz,jdbcType=INTEGER},
      </if>
      <if test="record.hsdz != null">
        hsdz = #{record.hsdz,jdbcType=INTEGER},
      </if>
      <if test="record.hsbs != null">
        hsbs = #{record.hsbs,jdbcType=INTEGER},
      </if>
      <if test="record.hszl != null">
        hszl = #{record.hszl,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cpb
    set id = #{record.id,jdbcType=INTEGER},
      qh = #{record.qh,jdbcType=VARCHAR},
      wws = #{record.wws,jdbcType=INTEGER},
      qws = #{record.qws,jdbcType=INTEGER},
      bws = #{record.bws,jdbcType=INTEGER},
      sws = #{record.sws,jdbcType=INTEGER},
      gws = #{record.gws,jdbcType=INTEGER},
      hz = #{record.hz,jdbcType=INTEGER},
      kd = #{record.kd,jdbcType=INTEGER},
      hzwh = #{record.hzwh,jdbcType=INTEGER},
      js = #{record.js,jdbcType=INTEGER},
      os = #{record.os,jdbcType=INTEGER},
      zs = #{record.zs,jdbcType=INTEGER},
      hs = #{record.hs,jdbcType=INTEGER},
      wwds = #{record.wwds,jdbcType=INTEGER},
      qwds = #{record.qwds,jdbcType=INTEGER},
      bwds = #{record.bwds,jdbcType=INTEGER},
      swds = #{record.swds,jdbcType=INTEGER},
      gwds = #{record.gwds,jdbcType=INTEGER},
      wwdx = #{record.wwdx,jdbcType=INTEGER},
      qwdx = #{record.qwdx,jdbcType=INTEGER},
      bwdx = #{record.bwdx,jdbcType=INTEGER},
      swdx = #{record.swdx,jdbcType=INTEGER},
      gwdx = #{record.gwdx,jdbcType=INTEGER},
      wwjo = #{record.wwjo,jdbcType=INTEGER},
      qwjo = #{record.qwjo,jdbcType=INTEGER},
      bwjo = #{record.bwjo,jdbcType=INTEGER},
      swjo = #{record.swjo,jdbcType=INTEGER},
      gwjo = #{record.gwjo,jdbcType=INTEGER},
      ww012l = #{record.ww012l,jdbcType=INTEGER},
      qw012l = #{record.qw012l,jdbcType=INTEGER},
      bw012l = #{record.bw012l,jdbcType=INTEGER},
      sw012l = #{record.sw012l,jdbcType=INTEGER},
      gw012l = #{record.gw012l,jdbcType=INTEGER},
      zhdx = #{record.zhdx,jdbcType=INTEGER},
      zhds = #{record.zhds,jdbcType=INTEGER},
      lh = #{record.lh,jdbcType=INTEGER},
      sj = #{record.sj,jdbcType=DATE},
      qsbz = #{record.qsbz,jdbcType=INTEGER},
      qssz = #{record.qssz,jdbcType=INTEGER},
      qsdz = #{record.qsdz,jdbcType=INTEGER},
      qsbs = #{record.qsbs,jdbcType=INTEGER},
      qszl = #{record.qszl,jdbcType=INTEGER},
      zsbz = #{record.zsbz,jdbcType=INTEGER},
      zssz = #{record.zssz,jdbcType=INTEGER},
      zsdz = #{record.zsdz,jdbcType=INTEGER},
      zsbs = #{record.zsbs,jdbcType=INTEGER},
      zszl = #{record.zszl,jdbcType=INTEGER},
      hsbz = #{record.hsbz,jdbcType=INTEGER},
      hssz = #{record.hssz,jdbcType=INTEGER},
      hsdz = #{record.hsdz,jdbcType=INTEGER},
      hsbs = #{record.hsbs,jdbcType=INTEGER},
      hszl = #{record.hszl,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mywork.domain.Cpb">
    update cpb
    <set>
      <if test="qh != null">
        qh = #{qh,jdbcType=VARCHAR},
      </if>
      <if test="wws != null">
        wws = #{wws,jdbcType=INTEGER},
      </if>
      <if test="qws != null">
        qws = #{qws,jdbcType=INTEGER},
      </if>
      <if test="bws != null">
        bws = #{bws,jdbcType=INTEGER},
      </if>
      <if test="sws != null">
        sws = #{sws,jdbcType=INTEGER},
      </if>
      <if test="gws != null">
        gws = #{gws,jdbcType=INTEGER},
      </if>
      <if test="hz != null">
        hz = #{hz,jdbcType=INTEGER},
      </if>
      <if test="kd != null">
        kd = #{kd,jdbcType=INTEGER},
      </if>
      <if test="hzwh != null">
        hzwh = #{hzwh,jdbcType=INTEGER},
      </if>
      <if test="js != null">
        js = #{js,jdbcType=INTEGER},
      </if>
      <if test="os != null">
        os = #{os,jdbcType=INTEGER},
      </if>
      <if test="zs != null">
        zs = #{zs,jdbcType=INTEGER},
      </if>
      <if test="hs != null">
        hs = #{hs,jdbcType=INTEGER},
      </if>
      <if test="wwds != null">
        wwds = #{wwds,jdbcType=INTEGER},
      </if>
      <if test="qwds != null">
        qwds = #{qwds,jdbcType=INTEGER},
      </if>
      <if test="bwds != null">
        bwds = #{bwds,jdbcType=INTEGER},
      </if>
      <if test="swds != null">
        swds = #{swds,jdbcType=INTEGER},
      </if>
      <if test="gwds != null">
        gwds = #{gwds,jdbcType=INTEGER},
      </if>
      <if test="wwdx != null">
        wwdx = #{wwdx,jdbcType=INTEGER},
      </if>
      <if test="qwdx != null">
        qwdx = #{qwdx,jdbcType=INTEGER},
      </if>
      <if test="bwdx != null">
        bwdx = #{bwdx,jdbcType=INTEGER},
      </if>
      <if test="swdx != null">
        swdx = #{swdx,jdbcType=INTEGER},
      </if>
      <if test="gwdx != null">
        gwdx = #{gwdx,jdbcType=INTEGER},
      </if>
      <if test="wwjo != null">
        wwjo = #{wwjo,jdbcType=INTEGER},
      </if>
      <if test="qwjo != null">
        qwjo = #{qwjo,jdbcType=INTEGER},
      </if>
      <if test="bwjo != null">
        bwjo = #{bwjo,jdbcType=INTEGER},
      </if>
      <if test="swjo != null">
        swjo = #{swjo,jdbcType=INTEGER},
      </if>
      <if test="gwjo != null">
        gwjo = #{gwjo,jdbcType=INTEGER},
      </if>
      <if test="ww012l != null">
        ww012l = #{ww012l,jdbcType=INTEGER},
      </if>
      <if test="qw012l != null">
        qw012l = #{qw012l,jdbcType=INTEGER},
      </if>
      <if test="bw012l != null">
        bw012l = #{bw012l,jdbcType=INTEGER},
      </if>
      <if test="sw012l != null">
        sw012l = #{sw012l,jdbcType=INTEGER},
      </if>
      <if test="gw012l != null">
        gw012l = #{gw012l,jdbcType=INTEGER},
      </if>
      <if test="zhdx != null">
        zhdx = #{zhdx,jdbcType=INTEGER},
      </if>
      <if test="zhds != null">
        zhds = #{zhds,jdbcType=INTEGER},
      </if>
      <if test="lh != null">
        lh = #{lh,jdbcType=INTEGER},
      </if>
      <if test="sj != null">
        sj = #{sj,jdbcType=DATE},
      </if>
      <if test="qsbz != null">
        qsbz = #{qsbz,jdbcType=INTEGER},
      </if>
      <if test="qssz != null">
        qssz = #{qssz,jdbcType=INTEGER},
      </if>
      <if test="qsdz != null">
        qsdz = #{qsdz,jdbcType=INTEGER},
      </if>
      <if test="qsbs != null">
        qsbs = #{qsbs,jdbcType=INTEGER},
      </if>
      <if test="qszl != null">
        qszl = #{qszl,jdbcType=INTEGER},
      </if>
      <if test="zsbz != null">
        zsbz = #{zsbz,jdbcType=INTEGER},
      </if>
      <if test="zssz != null">
        zssz = #{zssz,jdbcType=INTEGER},
      </if>
      <if test="zsdz != null">
        zsdz = #{zsdz,jdbcType=INTEGER},
      </if>
      <if test="zsbs != null">
        zsbs = #{zsbs,jdbcType=INTEGER},
      </if>
      <if test="zszl != null">
        zszl = #{zszl,jdbcType=INTEGER},
      </if>
      <if test="hsbz != null">
        hsbz = #{hsbz,jdbcType=INTEGER},
      </if>
      <if test="hssz != null">
        hssz = #{hssz,jdbcType=INTEGER},
      </if>
      <if test="hsdz != null">
        hsdz = #{hsdz,jdbcType=INTEGER},
      </if>
      <if test="hsbs != null">
        hsbs = #{hsbs,jdbcType=INTEGER},
      </if>
      <if test="hszl != null">
        hszl = #{hszl,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mywork.domain.Cpb">
    update cpb
    set qh = #{qh,jdbcType=VARCHAR},
      wws = #{wws,jdbcType=INTEGER},
      qws = #{qws,jdbcType=INTEGER},
      bws = #{bws,jdbcType=INTEGER},
      sws = #{sws,jdbcType=INTEGER},
      gws = #{gws,jdbcType=INTEGER},
      hz = #{hz,jdbcType=INTEGER},
      kd = #{kd,jdbcType=INTEGER},
      hzwh = #{hzwh,jdbcType=INTEGER},
      js = #{js,jdbcType=INTEGER},
      os = #{os,jdbcType=INTEGER},
      zs = #{zs,jdbcType=INTEGER},
      hs = #{hs,jdbcType=INTEGER},
      wwds = #{wwds,jdbcType=INTEGER},
      qwds = #{qwds,jdbcType=INTEGER},
      bwds = #{bwds,jdbcType=INTEGER},
      swds = #{swds,jdbcType=INTEGER},
      gwds = #{gwds,jdbcType=INTEGER},
      wwdx = #{wwdx,jdbcType=INTEGER},
      qwdx = #{qwdx,jdbcType=INTEGER},
      bwdx = #{bwdx,jdbcType=INTEGER},
      swdx = #{swdx,jdbcType=INTEGER},
      gwdx = #{gwdx,jdbcType=INTEGER},
      wwjo = #{wwjo,jdbcType=INTEGER},
      qwjo = #{qwjo,jdbcType=INTEGER},
      bwjo = #{bwjo,jdbcType=INTEGER},
      swjo = #{swjo,jdbcType=INTEGER},
      gwjo = #{gwjo,jdbcType=INTEGER},
      ww012l = #{ww012l,jdbcType=INTEGER},
      qw012l = #{qw012l,jdbcType=INTEGER},
      bw012l = #{bw012l,jdbcType=INTEGER},
      sw012l = #{sw012l,jdbcType=INTEGER},
      gw012l = #{gw012l,jdbcType=INTEGER},
      zhdx = #{zhdx,jdbcType=INTEGER},
      zhds = #{zhds,jdbcType=INTEGER},
      lh = #{lh,jdbcType=INTEGER},
      sj = #{sj,jdbcType=DATE},
      qsbz = #{qsbz,jdbcType=INTEGER},
      qssz = #{qssz,jdbcType=INTEGER},
      qsdz = #{qsdz,jdbcType=INTEGER},
      qsbs = #{qsbs,jdbcType=INTEGER},
      qszl = #{qszl,jdbcType=INTEGER},
      zsbz = #{zsbz,jdbcType=INTEGER},
      zssz = #{zssz,jdbcType=INTEGER},
      zsdz = #{zsdz,jdbcType=INTEGER},
      zsbs = #{zsbs,jdbcType=INTEGER},
      zszl = #{zszl,jdbcType=INTEGER},
      hsbz = #{hsbz,jdbcType=INTEGER},
      hssz = #{hssz,jdbcType=INTEGER},
      hsdz = #{hsdz,jdbcType=INTEGER},
      hsbs = #{hsbs,jdbcType=INTEGER},
      hszl = #{hszl,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>